#tileDataBox{
    position: fixed;
    width: 200px;
    height: auto;
    background: white;
    opacity: .85;
    visibility: hidden;
    padding: 10px 10px;
}

#topHeader{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width:54.5%;
}

#tileDataBox button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#tileDataBox button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
#tileDataBox button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
  }

#clsBtn{
    position: absolute;
    left: 92%;
    top: -2%;
    font-size: 20px;
    cursor: pointer;
    height:auto;
    width:auto;
}

#Unit{
    line-height: .5;
}

#raceTag{
    font-size: 12px;
}

#Tile{
    line-height: .5;
}

#turnSubmitButton{
    position: relative;
    cursor: pointer;
    
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

#turnSubmitButton:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}