.passwordChangeForm{
    max-width:400px;
    background:rgb(255, 255, 255);
    border-radius:2px;
    padding:20px;
}

.passwordChangeForm ul{
    list-style:none;
    padding:0;
    margin:0;	
}

.passwordChangeForm li{
    display: block;
    padding: 9px;
    border:1px solid rgb(109, 109, 109);
    border-radius: 3px;
    margin: 20px 0;
}

.passwordChangeForm li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}

.passwordChangeForm li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: rgb(109, 109, 109);
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.passwordChangeForm input[type="text"],
.passwordChangeForm input[type="date"],
.passwordChangeForm input[type="datetime"],
.passwordChangeForm input[type="email"],
.passwordChangeForm input[type="number"],
.passwordChangeForm input[type="search"],
.passwordChangeForm input[type="time"],
.passwordChangeForm input[type="url"],
.passwordChangeForm input[type="password"],
.passwordChangeForm textarea,
.passwordChangeForm select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
}

.passwordChangeForm li > span{
    background: rgb(255, 255, 255);
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.passwordChangeForm textarea{
    resize:none;
}

.passwordReset {
  margin-top: 15px;
  color: rgb(48, 48, 48);
  background-color: rgb(255, 217, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.passwordReset:disabled {
  background-color: rgba(255, 217, 0, 0.699);
  cursor: auto;
  color: rgb(48, 48, 48);
}