.boardCanvas{
    position: absolute;
    margin: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: maroon;
    background-color: transparent;
    pointer-events:none;
}

#canvasBoardTile{
    z-index: -1;
}

#canvasBoardUnit{
    z-index: 0;
}

#canvasBoardSelect{
    z-index: 1;
}

#canvasBoardAnimation{
    z-index: 2;
}

#canvasBoardFOW{
    z-index: 3;
}

#canvasDirtLayer{
    z-index: -5;
}